.rank{
    margin-bottom: 5rem;
}
.rank h1{
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.table-rank thead th{
    font-weight: bold;
    font-size: 1.75rem;
    text-align: center;
}
.table-rank tbody td{
    font-size: 1.75rem;
    text-align: center;
}