*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Be Vietnam Pro', sans-serif;
}

:root {
  --primary-color: #38BDF8;
  --second-color: #6E7BAF;
  --theme-color: #0F172A;
  --text-color: #E1E2E4;
}

@import '~mdb-ui-kit/css/mdb.min.css';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  box-sizing: inherit;
}

body{
  text-decoration: none !important;
  background-color: #0F172A !important;
  color: var(--text-color) !important;
}
