.banner img{
    width: 100%;
}
.banner-text{
    padding-top: 20rem;
}
.banner-text h1{
    font-size: 5rem;
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
}
.banner-text button{
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 50px;
    font-size: 2rem;
    padding: 1rem 2rem;
    font-weight: bold;
}
.banner-btn{
    display: flex;
    justify-content: center;
}

.task-user h1{
    color: var(--text-color);
    font-weight: bold;
}

.newtask-item{
    border: 1px var(--primary-color) solid;
    border-radius: 20px;
    text-align: center;
    margin: 2rem auto;
    cursor: pointer;
}
.newtask-item:hover{
    background-color: var(--primary-color);
}
.newtask-item h3{
    margin: 1rem auto;
}

.topuser-item{
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
}